.footer {
  max-width: 880px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  margin-top: 67px;
  margin-bottom: 60px;
  color: #545454;
}

@media screen and (max-width: 480px) {
  .footer {
    font-size: 14px;
    margin: 48px auto 36px 19px;
  }

