.card {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  border-radius: 10px;
  overflow: hidden;
}

.card__image {
  width: 282px;
  height: 282px;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  padding: 25px 20px;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

.card__title {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 900;
  max-width: 219px;
}

.card__like-button {
  background: transparent url(../images/heart.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
  cursor: pointer;
}

.card__like-button_active {
  background-image: url(../images/heart-active.svg);
}

.card__like-button:hover {
  opacity: 50%;
}

.card__trash-button {
  background: transparent url(../images/Trash.svg) center no-repeat;
  width: 18px;
  height: 19.3px;
  border: none;
  cursor: pointer;
  position: absolute;
  margin-top: 18px;
  margin-left: 249px;
}

.card__trash-button:hover {
  opacity: 60%;
}
