.footer {
  max-width: 880px;
  margin-top: 67px;
  margin-bottom: 60px;
}

.footer__copyright {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  color: #545454;
  margin: 0;
}

@media screen and (max-width: 480px) {
  .footer {
    font-size: 14px;
    margin: 48px auto 36px 19px;
  }
}
